 .fondo {
    background-image: url("../img/marinsa.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    
  }

  .container{
    width: 100%;
    display: flex;
    max-width: 1100px;
  }

  .card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
  }

  .card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-2%)
  }




/* centrar boton --> vacantes disponibles <-- de las cartas */
  .container{
    text-align: center;
  }